.ce-video {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.ce-video video {
  max-width: 100%;
  height: auto;
}

.ce-video--active {
  border: 2px solid #00b8b2;
}

.video-caption {
  outline: none;
  border: none;
  color: #909090;
  display: block;
  font-size: 10pt;
  line-height: 15.5pt;
  text-align: center;
}
